[Unit]
Description=Apache Tomcat 9 Web Application Container
After=network.target

[Service]
Type=forking
PIDFile=/data2/apache-tomcat-9.0.21/tomcat.pid
EnvironmentFile=/data2/apache-tomcat-9.0.21/tomcat.properties

ExecStart=/data2/apache-tomcat-9.0.21/bin/startup.sh

ExecStop=/data2/apache-tomcat-9.0.21/bin/shutdown.sh

User=tomcat
Group=tomcat
UMask=0007
RestartSec=20
Restart=always

[Install]
WantedBy=multi-user.target