[Unit]
Description=Apache Tomcat 9 Web Application Container
After=network.target

[Service]
Type=forking
PIDFile=/opt/apache-tomcat-9.0.21/tomcat.pid
Environment=CATALINA_PID=/opt/apache-tomcat-9.0.21/tomcat.pid
Environment=JAVA_HOME=/usr/java/jdk1.8.0_181
Environment=CATALINA_HOME=/opt/apache-tomcat-9.0.21
Environment=CATALINA_BASE=/opt/apache-tomcat-9.0.21
Environment=MALLOC_ARENA_MAX=1
Environment='CATALINA_OPTS=-server -Xms1000m -Xmx1g -XX:MaxNewSize=256m -XX:+UseBiasedLocking -XX:+DisableExplicitGC -XX:+UseParallelGC -XX:+UseFastAccessorMethods -XX:MetaspaceSize=256m -XX:MaxMetaspaceSize=512m'

Environment='JAVA_OPTS= -Djava.awt.headless=true'

ExecStart=/opt/apache-tomcat-9.0.21/bin/startup.sh

ExecStop=/opt/apache-tomcat-9.0.21/bin/shutdown.sh

User=tomcat
Group=tomcat
UMask=0007
RestartSec=20
Restart=always

[Install]
WantedBy=multi-user.target
